@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


#main {
    background: rgb(240, 242, 245);
}





#left {
    align-items: self-start;
    position: absolute;
    left: 10%; 
    top: 30%;
}

#right {
    align-items: center;
    position: absolute;
    right: 10%;
    top: 25%;
}

h1 {
    font-size: 80px;
    color:rgb(24, 119, 242);
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 28px;
    line-height: 32px;
    width: 500px;
}

.forma {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    right: 50%;
}

input {
    border: 1px solid #dddfe2;
    height: 22px;
    line-height: 16px;
    color:#000000;
    padding: 14px 16px;
    font-size: 17px;
    margin: 4px;
    border-radius: 6px;
    width: 380px;
}

button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 410px;
    color:white;
    text-align: center;
    margin-top: 7px;
}

.green {
    background-color: #42b72a;
}


a.link {
    margin-top: 16px;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    
}

#footer {
    height: 80px;
    margin-top: -80px; 
    background: white;
    padding-top: 30px;
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}

/* ul.list {

         
} */

ul.list li {
    list-style: none;
    font-size:14px;
    display:inline-block;
width:20%;
margin:0;
padding:0;  
}

ul.list li a {
    text-decoration: none;
    font-size: 14px;
    color: #8a8d91;
}
